Using Amazon SageMaker to Access AWS S3 Datasets Defined in AWS Glue Data Catalog
====================

This notebook demonstrates accessing data defined in the AWS Glue Data Catalog data from an Amazon SageMaker notebook. 

Access occurs via:
* a [Sparkmagic](https://github.com/jupyter-incubator/sparkmagic) notebook (PySpark) 
* [Apache Livy](https://livy.incubator.apache.org/), running on an [Amazon EMR](https://aws.amazon.com/emr/) cluster
* to [AWS S3](https://aws.amazon.com/s3/) datasets defined in an [AWS Glue Data Catalog](https://aws.amazon.com/glue/)

The [accompanying blog post](https://aws.amazon.com/blogs/machine-learning/how-to-access-amazon-s3-data-managed-by-aws-glue-data-catalog-from-amazon-sagemaker-notebooks/) provides instructions. It also has an [AWS CloudFormation](https://aws.amazon.com/cloudformation/) template that will set up the environment for you. It also sets up an AWS Glue crawler to crawl some sample data on S3; that data (on US legislators) is used in the sample scripts below.

## Table of Contents
1. [Set up access to the AWS Glue Data Catalog](#emr_setup)
1. [Access AWS Glue Data Catalog using SQL magics](#glue_access)   
1. [Using the Data on the Local Notebook](#local_access)

## Set up Access to the AWS Glue Data Catalog<a name='emr_setup'></a>

This Jupyter notebook is written to run on an Amazon SageMaker notebook instance. It uses SparkMagic (PySpark) to access Apache Spark, running on Amazon EMR. 

The EMR cluster runs Spark and Apache Livy, and must be set up to use the AWS Glue Data Store for its Hive metastore.

In addition, the Amazon SageMaker notebook instance must be configured to access Livy.

This configuration is set up automatically in the CloudFormation templates [accompanying blog post](https://aws.amazon.com/blogs/machine-learning/how-to-access-amazon-s3-data-managed-by-aws-glue-data-catalog-from-amazon-sagemaker-notebooks/).

**Alternatively**, in order to set up the EMR cluster:

* Set up the EMR cluster as described in: [Build Amazon SageMaker notebooks backed by Spark in Amazon EMR](https://aws.amazon.com/blogs/machine-learning/build-amazon-sagemaker-notebooks-backed-by-spark-in-amazon-emr/)   BUT!! with the following differences:

    * Select the following two AWS Glue Data Store options:
        * Use for Hive table metadata
        * Use for Spark table metadata
    * Add the following EMR configuration option:

```
{
    "Classification": "livy-conf",
    "Properties": {
      "livy.server.request-log-retain.days": "10",
	  "livy.repl.enable-hive-context": "true"
    }
  }
```

* Modify the Amazon SakeMaker notebook options, as described in the blog post, to point to the master of your EMR cluster.

Now:
* Check that this notebook is using SparkMagic (PySpark).
* Ensure that you've restarted the kernel of this notebook.

Then, print out the list of Livy magic commands.

In [1]:
%%help

If everything is set up correctly, the following cells should run against the EMR cluster.

The following cell prints out info about the current Spark sessions.

In [2]:
%%info

There may be "no active sessions" so far. If so, that's ok, you'll start one below. If you or someone else has run other sessions recently, you may receive a list of existing sessions.   

If you receive an error such as "Error sending http request and maximum retry encountered", try restarting the kernel, then re-executing these cells. 

If you continue to see an error, check the configuration. Use a terminal to check that .sparkmagic/config.json on this Amazon SageMaker notebook instance has the correct IP address and port for the EMR cluster. Check that the EMR cluster has started correctly. Check that the EMR cluster's port is open and accessible to the Amazon SageMaker instance. Try accessing your EMR cluster on the Livy port (default 8998); you should see the Livy welcome page. Remember to restart the kernel after every change!

Once this cell executes correctly, move on! The next cell should start a Spark session, and an application if needed. It'll also print out the IP address of the EMR cluster's master, and current setting of environment variables.

In [3]:
import os
import platform
# Print some characteristics of the remote system
print(platform.node())
print(platform.platform(aliased=0, terse=0))
print("Spark home currently set to", os.environ.get('SPARK_HOME', None))

Starting Spark application

SparkSession available as 'spark'.
ip-172-31-19-148
Linux-4.14.33-51.37.amzn1.x86_64-x86_64-with-glibc2.2.5
('Spark home currently set to', '/usr/lib/spark')

After running the previous cell (it may take a minute or 3 to complete), you should see a message saying "SparkSession available as 'spark'". 

If you don't: restart the Kernel for this notebook, and try running the above cells again. 

Now, run a basic Spark function. This cell shows how you can execute Spark parallelized functions on your EMR cluster.

In [4]:
# Run a basic Spark function, to show that's working
sc.parallelize(range(1000)).count()

1000

Now, we can see the logs from this Spark task. This capability allows us to debug our Spark tasks without leaving the notebook environment.

In [5]:
%%logs

stdout:

stderr:
18/06/19 18:01:03 INFO RSCDriver: Connecting to: ip-172-31-19-148.us-west-2.compute.internal:10001
18/06/19 18:01:03 INFO RSCDriver: Starting RPC server...
18/06/19 18:01:03 INFO RpcServer: Connected to the port 10003
18/06/19 18:01:03 WARN RSCConf: Your hostname, ip-172-31-19-148.us-west-2.compute.internal, resolves to a loopback address, but we couldn't find any external IP address!
18/06/19 18:01:03 WARN RSCConf: Set livy.rsc.rpc.server.address if you need to bind to another address.
18/06/19 18:01:04 INFO RSCDriver: Received job request e891cc6a-da46-41f2-8a5d-127c40c9ea24
18/06/19 18:01:04 INFO RSCDriver: SparkContext not yet up, queueing job request.
18/06/19 18:01:09 INFO RMProxy: Connecting to ResourceManager at ip-172-31-19-148.us-west-2.compute.internal/172.31.19.148:8032
18/06/19 18:01:22 INFO YarnClientImpl: Submitted application application_1529430545282_0001

YARN Diagnostics:

## Access AWS Glue Data Catalog Tables using SQL magics<a name='glue_access'></a> 

Let's switch to the topic at hand. First, list the databases in the EMR cluster's Hive metastore. If all is set up correctly, this is actually the AWS Glue Data Catalog. Then, list the tables; and run some SQL commands to retrieve some data. 

The following examples run against the AWS Glue 'legislators' database. If you have not already done so, follow the instructions in the AWS Glue tutorial under [“Crawling the Sample Data Used in the Tutorials”](https://docs.aws.amazon.com/glue/latest/dg/dev-endpoint-tutorial-prerequisites.html#dev-endpoint-tutorial-prerequisites-crawl-data ). You can stop once you’ve completed the steps to create the crawler, and can see the six tables created by the crawler in your data catalog, containing metadata that the crawler retrieved.

In [6]:
%%sql 
show databases like 'legislators'

  databaseName
0  legislators

In [7]:
%%sql
show tables in legislators

      database           tableName  isTemporary
0  legislators          areas_json        False
1  legislators      countries_json        False
2  legislators         events_json        False
3  legislators    memberships_json        False
4  legislators  organizations_json        False
5  legislators        persons_json        False

In [8]:
%%sql
select * from legislators.persons_json limit 10

  family_name    ...     death_date
0     Collins    ...            NaT
1    Huizenga    ...            NaT
2     Clawson    ...            NaT
3     Solomon    ...     2001-10-26
4      Rigell    ...            NaT
5       Crapo    ...            NaT
6       Hutto    ...            NaT
7       Ertel    ...     2015-11-19
8      Minish    ...     2007-11-24
9     Andrews    ...            NaT

[10 rows x 14 columns]

Retrieve some data from the table into a data frame that you can access locally (you'll see how a little later). The "-o" parameter specifies the data frame name.

In [9]:
%%sql -o party_counts
select on_behalf_of_id as party, count(*) as count from legislators.memberships_json group by on_behalf_of_id

                           party  count
0  party/republican-conservative      1
1                       party/al      1
2               party/republican   4980
3                 party/democrat   5423
4         party/popular_democrat      1
5          party/new_progressive      2
6         party/democrat-liberal      1
7              party/independent     30

Remember that SQL queries, by default, limit the number of result rows to 2500. You can modify the number of rows returned by using the '-n' flag.

-n MAXROWS: The maximum number of rows of a SQL query that will be pulled from Livy to Jupyter. If this number is negative, then the number of rows will be unlimited.

Now, run a more complex SQL that joins, filters and projects across several datasets, and returns the result in a dataframe called "members".

You can also add filter conditions to the SQL, to limit the data returned to only the subset of interest, or, to a useful subset for initial exploration.

In [10]:
%%sql -o members
select p.name as membername, p.gender, p.birth_date, p.death_date, 
    m.on_behalf_of_id, m.legislative_period_id, m.start_date, m.end_date, 
    o.name as orgname, o.classification
from legislators.persons_json p
join legislators.memberships_json m on m.person_id = p.id
join legislators.organizations_json o on m.organization_id = o.id

                      membername      ...       classification
0                Jackie Walorski      ...          legislature
1                Jackie Walorski      ...          legislature
2                Jackie Walorski      ...          legislature
3     Juanita Millender-McDonald      ...          legislature
4     Juanita Millender-McDonald      ...          legislature
5     Juanita Millender-McDonald      ...          legislature
6     Juanita Millender-McDonald      ...          legislature
7     Juanita Millender-McDonald      ...          legislature
8     Juanita Millender-McDonald      ...          legislature
9     Juanita Millender-McDonald      ...          legislature
10        Michelle Lujan Grisham      ...          legislature
11        Michelle Lujan Grisham      ...          legislature
12        Michelle Lujan Grisham      ...          legislature
13                   Jim Bunning      ...          legislature
14                   Jim Bunning      ...          legislature
15                   Jim Bunning      ...          legislature
16                   Jim Bunning      ...          legislature
17                   Jim Bunning      ...          legislature
18                   Jim Bunning      ...          legislature
19            Nan A. S. Hayworth      ...          legislature
20                Steve Stockman      ...          legislature
21                Steve Stockman      ...          legislature
22               Christopher Cox      ...          legislature
23               Christopher Cox      ...          legislature
24               Christopher Cox      ...          legislature
25               Christopher Cox      ...          legislature
26               Christopher Cox      ...          legislature
27               Christopher Cox      ...          legislature
28               Christopher Cox      ...          legislature
29               Christopher Cox      ...          legislature
...                          ...      ...                  ...
2470                  Jim Cooper      ...          legislature
2471                  Jim Cooper      ...          legislature
2472                  Jim Cooper      ...          legislature
2473                  Jim Cooper      ...          legislature
2474                  Jim Cooper      ...          legislature
2475                  Jim Cooper      ...          legislature
2476                  Jim Cooper      ...          legislature
2477                  Jim Cooper      ...          legislature
2478                  Jim Cooper      ...          legislature
2479                  Jim Cooper      ...          legislature
2480                  Jim Cooper      ...          legislature
2481                  Jim Cooper      ...          legislature
2482                  Jim Cooper      ...          legislature
2483            Tip O’Neill, Jr.      ...          legislature
2484            Tip O’Neill, Jr.      ...          legislature
2485            Tip O’Neill, Jr.      ...          legislature
2486               John Ashbrook      ...          legislature
2487               Terry Everett      ...          legislature
2488               Terry Everett      ...          legislature
2489               Terry Everett      ...          legislature
2490               Terry Everett      ...          legislature
2491               Terry Everett      ...          legislature
2492               Terry Everett      ...          legislature
2493               Terry Everett      ...          legislature
2494               Terry Everett      ...          legislature
2495             Joe Scarborough      ...          legislature
2496             Joe Scarborough      ...          legislature
2497             Joe Scarborough      ...          legislature
2498             Joe Scarborough      ...          legislature
2499                 Gwen Graham      ...          legislature

[2500 rows x 10 columns]

Now, take a random shuffle subset of this joined, filtered data. Run the next cell several times; you should see a different result each time.

In [11]:
%%sql -o membersshuffle
select p.name as membername, p.gender, p.birth_date, p.death_date, 
    m.on_behalf_of_id, m.legislative_period_id, m.start_date, m.end_date, 
    o.name as orgname, o.classification 
from legislators.persons_json p
join legislators.memberships_json m on m.person_id = p.id
join legislators.organizations_json o on m.organization_id = o.id
distribute by rand()
sort by rand()
limit 10

           membername      ...       classification
0          Gus Yatron      ...          legislature
1        Robert Davis      ...          legislature
2       Doug Bereuter      ...          legislature
3       Nancy Johnson      ...          legislature
4       Jamie Whitten      ...          legislature
5        Jaime Fuster      ...          legislature
6   William Armstrong      ...          legislature
7          Neal Smith      ...          legislature
8          Gwen Moore      ...          legislature
9  Robert B. Aderholt      ...          legislature

[10 rows x 8 columns]

You can see that some of the data is not filled in (start_date, end_date of legislative period). You can also transform and further reduce the redundant information retrieved into the notebook environment, such as removing 'party/' and 'term/'. That will reduce the processing you'll need to do in the notebook.

In [12]:
%%sql -o membersadj
select p.name as membername, p.gender, p.birth_date, p.death_date, 
    split(m.on_behalf_of_id,'/')[1] as party, split(m.legislative_period_id, '/')[1] as legislature,  
    o.name as orgname
from legislators.persons_json p
join legislators.memberships_json m on m.person_id = p.id
join legislators.organizations_json o on m.organization_id = o.id

                 membername            ...                              orgname
0             Duncan Hunter            ...             House of Representatives
1             Duncan Hunter            ...             House of Representatives
2             Duncan Hunter            ...             House of Representatives
3             Duncan Hunter            ...             House of Representatives
4             Duncan Hunter            ...             House of Representatives
5             Duncan Hunter            ...             House of Representatives
6             Duncan Hunter            ...             House of Representatives
7             Duncan Hunter            ...             House of Representatives
8             Duncan Hunter            ...             House of Representatives
9             Duncan Hunter            ...             House of Representatives
10            Duncan Hunter            ...             House of Representatives
11            Duncan Hunter            ...             House of Representatives
12            Duncan Hunter            ...             House of Representatives
13            Duncan Hunter            ...             House of Representatives
14           Esteban Torres            ...             House of Representatives
15           Esteban Torres            ...             House of Representatives
16           Esteban Torres            ...             House of Representatives
17           Esteban Torres            ...             House of Representatives
18           Esteban Torres            ...             House of Representatives
19           Esteban Torres            ...             House of Representatives
20           Esteban Torres            ...             House of Representatives
21           Esteban Torres            ...             House of Representatives
22             W. Todd Akin            ...             House of Representatives
23             W. Todd Akin            ...             House of Representatives
24             W. Todd Akin            ...             House of Representatives
25             W. Todd Akin            ...             House of Representatives
26             W. Todd Akin            ...             House of Representatives
27             W. Todd Akin            ...             House of Representatives
28       Robert Daniel, Jr.            ...             House of Representatives
29                 Joe Baca            ...             House of Representatives
...                     ...            ...                                  ...
2470             Denny Heck            ...             House of Representatives
2471             Denny Heck            ...             House of Representatives
2472             Denny Heck            ...             House of Representatives
2473     Vincent Snowbarger            ...             House of Representatives
2474             Les AuCoin            ...             House of Representatives
2475             Les AuCoin            ...             House of Representatives
2476             Les AuCoin            ...             House of Representatives
2477             Les AuCoin            ...             House of Representatives
2478             Les AuCoin            ...             House of Representatives
2479             Les AuCoin            ...             House of Representatives
2480  Madeleine Z. Bordallo            ...             House of Representatives
2481  Madeleine Z. Bordallo            ...             House of Representatives
2482  Madeleine Z. Bordallo            ...             House of Representatives
2483  Madeleine Z. Bordallo            ...             House of Representatives
2484  Madeleine Z. Bordallo            ...             House of Representatives
2485  Madeleine Z. Bordallo            ...             House of Representatives
2486  Madeleine Z. Bordallo            ...             House of Representatives
2487  Madeleine Z. Bordallo            ...             House of Representatives
2488            Fred Eckert            ...             House of Representatives
2489            Larry Craig            ...             House of Representatives
2490            Larry Craig            ...             House of Representatives
2491            Larry Craig            ...             House of Representatives
2492            Larry Craig            ...             House of Representatives
2493            Larry Craig            ...             House of Representatives
2494            Norman Lent            ...             House of Representatives
2495            Norman Lent            ...             House of Representatives
2496            Norman Lent            ...             House of Representatives
2497            Norman Lent            ...             House of Representatives
2498            Norman Lent            ...             House of Representatives
2499            Norman Lent            ...             House of Representatives

[2500 rows x 7 columns]

## Using the Data on the Local Notebook<a name='local_access'></a>

Next, let's check the characteristics of the local system. Check the IP address printed below; it should be different from the IP address of the EMR system above.

In [13]:
%%local
# Print some characteristics of the local system
import platform
print(platform.machine())
print(platform.node())
print(platform.platform(aliased=0, terse=0))

x86_64
ip-172-16-34-154
Linux-4.9.93-41.60.amzn1.x86_64-x86_64-with-glibc2.9

On the notebook instance, look at some characteristics of the data frames that you created above.

In [14]:
%%local
# print the columns and types of the retrieved data file(s)
membersadj.info()

# show the top few rows
display(membersadj.head())

# describe the data object
display(membersadj.describe())

# Summarize the categorical field party 
display(membersadj.party.value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 7 columns):
membername     2500 non-null object
gender         2500 non-null object
birth_date     2500 non-null datetime64[ns]
death_date     518 non-null datetime64[ns]
party          2500 non-null object
legislature    2500 non-null int64
orgname        2500 non-null object
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 136.8+ KB

      membername            ...                              orgname
0  Duncan Hunter            ...             House of Representatives
1  Duncan Hunter            ...             House of Representatives
2  Duncan Hunter            ...             House of Representatives
3  Duncan Hunter            ...             House of Representatives
4  Duncan Hunter            ...             House of Representatives

[5 rows x 7 columns]

       legislature
count  2500.000000
mean    105.790400
std       5.514874
min      97.000000
25%     101.000000
50%     106.000000
75%     111.000000
max     115.000000

democrat                   1343
republican                 1146
independent                  10
republican-conservative       1
Name: party, dtype: int64

You can see that 'membersadj' is now a Pandas dataframe, ready to be accessed locally.

An example of clustering this data is included below as a demonstration of how a data set processed and retrieved in this way can be used in a machine learning project. 

In order to further analyze, you'll add some calculated columns:
- convert gender to a numeric ('gen')
- convery party to a numeric ('partynum')
- calculate an estimated age when seated in the legislature ('age')

You'll then use ScikitLearn to cluster the data.

Note that the utility of the results varies greatly depending on the quality of the input data and the intended use of its outputs; in this case, it's questionnable.

In [15]:
%%local
membersadj['gen'] = membersadj['gender'].map({'female': 1, 'male': 0})
membersadj['partynum'] = membersadj['party'].map({
    'republican-conservative':0, 
    'al':1,
    'republican':2,
    'democrat': 3,
    'popular_democrat':4,
    'new_progressive':5,
    'democrat-liberal':6,
    'independent':7  })

membersadj['legstart'] =(membersadj['legislature']*2 + 1767)
membersadj['birthyear'] = membersadj['birth_date'].dt.year
membersadj['age'] = membersadj['legstart'] - membersadj['birthyear']

membersadj.head()

      membername gender birth_date ...  legstart birthyear  age
0  Duncan Hunter   male 1948-05-31 ...      1967      1948   19
1  Duncan Hunter   male 1948-05-31 ...      1969      1948   21
2  Duncan Hunter   male 1948-05-31 ...      1971      1948   23
3  Duncan Hunter   male 1948-05-31 ...      1973      1948   25
4  Duncan Hunter   male 1948-05-31 ...      1975      1948   27

[5 rows x 12 columns]

In [16]:
%%local
data = membersadj[['gen','partynum','age']]
data.head()

   gen  partynum  age
0    0         2   19
1    0         2   21
2    0         2   23
3    0         2   25
4    0         2   27

In [17]:
%%local
from sklearn.cluster import KMeans, MiniBatchKMeans

est = MiniBatchKMeans(n_clusters=8)
est.fit(data)
centers = est.cluster_centers_
print(str(centers))

[[ 0.14936248  2.51912568 27.55919854]
 [ 0.1552795   2.65838509 49.92236025]
 [ 0.12310606  2.59090909 37.95454545]
 [ 0.09677419  2.4562212  15.05990783]
 [ 0.12790698  2.84883721 60.03488372]
 [ 0.15939597  2.50167785 33.07214765]
 [ 0.15555556  2.54222222 43.16666667]
 [ 0.11061947  2.52876106 21.65707965]]

The results of the clustering are shown above. 

You've now:
* Retrieved data from your data lake
* Joined, filtered and aggregated it using the power of Spark on EMR, from the comfort of your local Jupyter notebook
* Applied a machine learning technique locally, to the data retrieved that way.

  Copyright 2018 Amazon.com, Inc. or its affiliates. All Rights Reserved.
  
  Licensed under the Apache License, Version 2.0 (the "License").
  You may not use this file except in compliance with the License.
  A copy of the License is located at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  or in the "license" file accompanying this file. This file is distributed 
  on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either 
  express or implied. See the License for the specific language governing 
  permissions and limitations under the License.